<div class="container">
  <div class="side">
    <app-main [globalEdit]="globalEdit" [amounProjects] = "amounProjects"></app-main>
    <app-personal-data [globalEdit]="globalEdit"></app-personal-data>
    <app-skills [globalEdit]="globalEdit"></app-skills>
  </div>
  <div class="side">
    <app-edit [globalEdit]="globalEdit" (changeEdit)="refresh()"></app-edit>
    <app-add-project (addEvent) = "getCount()"></app-add-project>
    <app-experience (updateEvent) = "getCount()" [globalEdit]="globalEdit"></app-experience>
  </div>
</div>
