.add{
    font-size: 18px;
}

textarea{
    width: 440px;
    height: 150px;
    resize: none;
}
h2{
    margin: 20px 0 10px 0;
}
.submit{
    margin-top: 15px;
}
input, textarea{
    padding: 5px;
}
input{
    border-bottom: 1px solid  rgb(49, 155, 155);
}
textarea{
    border: 1px dashed rgb(49, 155, 155);
}